/*
Grey
background-color: #333333;


*/

.DC-Backdrop{
    background-color: #0C0F0A;
}

.Headers{
    margin: 15px;
    background-color: #0C0F0A;
}

.header-Banner{
    padding: 10px;
    background-color: #0C0F0A;
}

.header-brief{
    background-color: #0C0F0A;

}
.header-Notes{
    background-color: #0C0F0A;
    padding: 0;
    margin: 0;

}
.mainChart-Box{
    background-color: #0C0F0A;
    padding: 25px;
    position: center;
}

.mainChart-Box.inside-mainChart-Box{
    background-color: #0C0F0A;
    padding: 25px;
    position: center;
}

.mainChart1-dropdown-col{
    float: left;
    width: 33%;
    position: center;
}
.mainChart1-dropdown-row:after{
    content: "";
    display: table;

    clear: both;
    width: 10%
}
.mainChart1-dropdown-row{
    width: 50%;
    position: center;
}