<!DOCTYPE html>
	<html>
		<head>
			
			<!-- link to main stylesheet -->
			<!--<link rel="stylesheet" type="text/css" href="/css/main.css"> -->

			<meta charset="utf-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
			<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />
			<!--<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>-->
			<noscript><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/noscript.css" /></noscript>
			<link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet">
			<link href="{{ site.baseurl }}/css/main.css" rel="stylesheet">

			<!--
			<title>{{ page.title }}</title>
			-->
		</head>
		
		<!--<body>-->
			<!--
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
				</ul>
			</nav>
			<div class="container">
			</div>
			-->
			<body class="is-preload">
			<!-- Wrapper -->
				<div id="wrapper">

					<!-- Header -->
						<header id="header">
							<div class="inner">

								<!-- Logo -->
									<a href="index.html" class="logo">
										<span class="symbol"><img src="{{ site.baseurl }}/images/dclogo_2.png" alt="" /></span><span class="title">DC</span>
									</a>

								<!-- Nav -->
									<nav>
										<ul>
											<li><a href="#menu">Menu</a></li>
										</ul>
									</nav>

							</div>
						</header>

					<!-- Menu -->
						<nav id="menu">
							<h2>Menu</h2>
							<ul>
								<li><a href="{{ site.baseurl }}/index.html">Home</a></li>
								<li><a href="{{ site.baseurl }}/about/index.html">About</a></li>
							</ul>
						</nav>
				</div>
				{{ content }}
			</div>
				
			
			
			
			<div class="Contactfooter">
			
	    		<ul>
	        		<li><a href="mailto:derrickchua29@gmail.com"Email</a></li>
				<li><a href="https://www.linkedin.com/in/derrick-ricky-c-a60238162">Linkedin</a></li>
	        		<li><a href="https://github.com/DeDeDeDer">Github</a></li>
				
			</ul>
			
			</div>
			</body>
	</html>
